.container {
  margin-top: 20px;
}

.product-row {
  margin-bottom: 16px;
}

.item-content {
  margin-bottom: 10px;
}

.item-actions {
  display: flex;
  justify-content: flex-end;
}

.action-buttons {
  margin-top: 20px;
}
