<div class="container">
  <h2>Liste des produits</h2>

  <nz-table
    #basicTable
    [nzBordered]="true"
    [nzData]="products"
    [nzBordered]="true"
    [nzSize]="'middle'"
    [nzShowPagination]="true"
    [nzPaginationPosition]="'bottom'"
  >
    <thead>
      <tr>
        <th nzWidth="10%">ID</th>
        <th nzWidth="20%">Nom</th>
        <th nzWidth="20%">Prix</th>
        <th nzWidth="30%">Description</th>
        <th nzWidth="20%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency:'EUR' }}</td>
        <td>{{ product.description }}</td>
        <td>
          <!-- <button nz-button nzType="default" nzSize="small" (click)="viewProduct(product.id)">Voir</button>
          <button nz-button nzType="primary" nzSize="small" (click)="editProduct(product.id)">Modifier</button> -->
          <button nz-button nzType="default" nzDanger nzSize="small" (click)="deleteProduct(product.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
